@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: hsl(212, 24%, 26%);
  --moderate-blue: hsl(238, 40%, 52%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --soft-red: hsl(358, 79%, 66%);
  --pale-red: hsl(357, 100%, 86%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
  --black: #171717;
  --background: var(--very-light-gray);
  --foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
